<section id="video-container">
    <video id="video" preload="auto" autoplay="auto" loop muted>
        <source src="./styles/videos/banner.webm" type="video/webm">
        <source src="./styles/videos/banner.mp4" type="video/mp4">
    </video>
    <section id="boxes">
        <nav>
            <p class="box hidden visible-when-logged">
                <a href="#/bonus">Play now</a>
            </p>
            <p class="box hidden visible-when-logged">
                <a href="#/marketplace">Buy players</a>
            </p>
            <p class="box hidden visible-when-logged">
                <a href="#/squad">Create your dream team</a>
            </p>
            <p class="box blue hidden visible-when-logged-out">
                <a href="#/register">Join now</a>
            </p>
        </nav>
    </section>
    <section class="social-media">
        <ul>
            <li>
                <a href="https://twitter.com/share" class="twitter-share-button" data-size="small">Tweet</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
            <li>
                <iframe class="facebook-like" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FFUT-Collection-125568674665286%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="98px"
                    frameborder="0">
                </iframe>
            </li>
        </ul>
    </section>
</section>