<div id="video-container" class="video-horizontal">
    <div class="video">
        <video preload="auto" loop="" autoplay="auto" muted="">
            <source src="./styles/videos/banner.webm" type="video/webm">
            <source src="./styles/videos/banner.mp4" type="video/mp4">
        </video>
    </div>
    <div class="boxes">
        <div class="box">
            <a href="#/bonus">Play now</a>
        </div>
        <div class="box">
            <a href="#/marketplace">Buy players</a>
        </div>
        <div class="box">
            <a href="#/marketplace">Create your team</a>
        </div>
    </div>
</div>