<div id="video-container" class="video-horizontal">
    <div class="video">
        <img class="gif" src="./styles/images/banner.gif">
    </div>
    <div class="boxes">
        <div class="banner">
            <div class="team">
                <a>Create your team!</a>
            </div>
            <div class="play">
                <a>Play now!</a>
            </div>
            <div class="box3">
                <a>Something for tomorrow</a>
            </div>
        </div>
    </div>
</div>