<div id="video-container" class="video-horizontal">
    <div class="video">
        <video preload="auto" autoplay="auto" loop muted>
            <source src="./styles/videos/banner.webm" type="video/webm">
            <source src="./styles/videos/banner.mp4" type="video/mp4">
        </video>
    </div>
    <div class="boxes">
        <div class="box">
            <a href="#/bonus">Play now</a>
        </div>
        <div class="box">
            <a href="#/marketplace">Buy players</a>
        </div>
        <div class="box">
            <a href="#/marketplace">Create your team</a>
        </div>
    </div>
    <div class="panel-body">
            <ul class="list-inline">
                <li><a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" data-size="large">>Tweet</a>
                    <script  async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> 
                </li>
           
                <li>
                    <div class="fb-like" data-href="https://www.facebook.com/FUT-Collection-125568674665286/" data-width="20" 
                        data-layout="box_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                     <div class="fb-like" data-href="https://www.facebook.com/Team-Starfire-861041394030994/?fref=ts" data-width="300" data-layout="standard"
                        data-action="like" data-show-faces="false" data-share="true"></div>
                </li>
                <li>
                    <div  id="fb-root"></div>
                        <script>(function facebookLike(doc, s, id) {
                          var js, facebookJS = doc.getElementsByTagName(s)[0];
                          if (doc.getElementById(id)) return;
                          js = doc.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
                          facebookJS.parentNode.insertBefore(js, facebookJS);
                        }(document, 'script', 'facebook-jssdk'));</script>                  
                </li>
                <li>
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                    <script type="IN/Share" data-url="https://www.facebook.com/FUT-Collection-125568674665286/" data-counter="right"></script>
                </li>
            </ul>
    </div>
</div>
