<form id="login-form" class="form-horizontal">
    <fieldset>
        <legend>
            <h3>Login</h3>
        </legend>
        <section class="form-group">
            <label for="input-username" class="col-md-1 control-label">Username</label>
            <p class="col-md-10">
                <input class="form-control" id="input-username" placeholder="Username" type="text" required>
            </p>
        </section>
        <section class="form-group">
            <label for="input-password" class="col-md-1 control-label">Password</label>
            <div class="col-md-10">
                <input class="form-control" id="input-password" placeholder="Password" type="password" required>
            </div>
        </section>
        <section class="form-group">
            <div class="col-sm-4 col-sm-offset-1">
                <button type="reset" class="btn btn-default">Cancel</button>
                <input type="submit" id="btn-login" class="btn btn-primary" value="Sign in" />
            </div>
        </section>
    </fieldset>
</form>