<div id="marketplace">
    <div id="players-container">
        {{#players}}
        <div class="player-card">
            <img class="headshot-img" src="{{headshotImgUrl}}" alt="{{commonName}}">
            <img class="club-img" src="{{club.imageUrls.normal.medium}}" alt="{{club.name}}">
            <img class="nation-img" src="{{nation.imageUrls.medium}}" alt="{{nation.name}}">
            <p>{{commonName}}</p>
            <p>{{position}}</p>
        </div>
        {{/players}}
    </div>

    {{#pagination currentPage pageCount size}}
    <ul class="pagination">
        {{#if leftArrow}}
        <li><a href="#/marketplace?page={{leftArrow}}">&lt;</a></li>
        {{/if}} {{#each pages}} {{#if isCurrent}}
        <li class="active"><a href="#/marketplace?page={{page}}">{{page}}</a></li>
        {{else}}
        <li><a href="#/marketplace?page={{page}}">{{page}}</a></li>
        {{/if}} {{/each}} {{#if rightArrow}}
        <li><a href="#/marketplace?page={{rightArrow}}">&gt;</a></li>
        {{/if}}
    </ul>
    {{/pagination}}
</div>