<div id="squad-container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-2 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">LF</span>
        </div>
        <div class="col-sm-1 col-sm-offset-2 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">CF</span>
        </div>
        <div class="col-sm-1 col-sm-offset-2 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">RF</span>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3 col-sm-offset-3 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">LM</span>
        </div>
        <div class="col-sm-1 col-sm-offset-1 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">CM</span>
        </div>
        <div class="col-sm-1 col-sm-offset-1 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">RM</span>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3 col-sm-offset-2 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">LB</span>
        </div>
        <div class="col-sm-1 col-sm-offset-1 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">CB</span>
        </div>
        <div class="col-sm-1 col-sm-offset-1 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">CB</span>
        </div>
        <div class="col-sm-1 col-sm-offset-1 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">RB</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1 col-sm-offset-5 squad-player-card">
            <img src="../styles/images/player-add.png" alt="add-player">
            <span class="player-position">GK</span>
        </div>
    </div>
</div>