body {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

#container {
    margin: 0 auto;
    max-width: 1600px;
}

#marketplace {
    text-align: center;
}

.checkbox-inline {
    cursor: auto;
}

.checkbox-inline label {
    font-weight: normal;
}

#players-container {
    text-align: center;
}

.player-card {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    width: 175px;
    height: 270px;
    margin: 6px;
    z-index: 1000;
}

.player-card.legend {
    background: url('./images/card-backgrounds/legend.png');
}

.player-card.rare_gold {
    background: url('./images/card-backgrounds/rare_gold.png');
}

.player-card.gold {
    background: url('./images/card-backgrounds/gold.png');
}

.player-card.rare_silver {
    background: url('./images/card-backgrounds/rare_silver.png');
}

.player-card.silver {
    background: url('./images/card-backgrounds/silver.png');
}

.player-card.rare_bronze {
    background: url('./images/card-backgrounds/rare_bronze.png');
}

.player-card.bronze {
    background: url('./images/card-backgrounds/bronze.png');
}

.player-card .headshot-img {
    position: absolute;
    top: 42.5px;
    left: 72.5px;
    width: 92px;
    height: 92px;
    z-index: 1000;
}

.player-card .position,
.player-card .club-img,
.player-card .nation-img {
    position: absolute;
    left: 30px;
}

.player-card .position {
    display: inline-block;
    width: 40px;
    font-size: 17px;
    top: 25px;
    left: 30px;
}

.player-card .club-img {
    top: 55px;
}

.player-card .nation-img {
    top: 100px;
}

.player-card .details {
    position: absolute;
    width: 175px;
    top: 135px;
}

.player-card .name {
    margin-top: 2.5px;
}

.player-card .price {
    margin-top: 22px;
}

.pre-loader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("./images/preloader.gif") center no-repeat #fff;
}

.gif {
    min-height: 80%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: absolute;
    display: inline-block;
    top: 4%;
    left: 0;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .gif {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}

.navbar {
    z-index: 2;
}

.team {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    width: 200px;
    height: 80px;
    margin: 6px;
    z-index: 3;
    background-color: #101010;
    float: left;
}

.play {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    width: 200px;
    height: 80px;
    margin: 6px;
    z-index: 3;
    background-color: #101010;
    float: left;
}

.box3 {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    width: 200px;
    height: 80px;
    margin: 6px;
    z-index: 3;
    background-color: #101010;
    float: left;
}

.boxes {
    top: 250%;
    margin-top: 50%;
}

.additional-player-info {
    position: relative;
    left: 10px;
    bottom: 10px;
    text-align: left;
}

.btn-sell-player {
    position: relative;
    left: 50px;
    bottom: 50px;
}

#football-pitch-container {
    background: url('./images/football-pitch-background/football-pitch.png') center no-repeat;
    background-size: 100%;
    min-height: 570px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 2px;
}

#owned-footballers-container {
    /*background-color: lightgrey;*/
    /*border: 1px solid deeppink;*/
    border-radius: 10px;
    max-height: 570px;
    overflow-y: scroll;
    direction: rtl;
    text-align: left;
}

.headshot-img {
    z-index: 1000;
}

.player-shirt {
    background: url('../styles/images/football-shirt-template.png');
    background-repeat: no-repeat;
    background-size: 90px 70px;
    display: inline-block;
    width: 90px;
    height: 70px;
    margin: 2.5em;
    position: relative;
    left: 1em;
}

.shirt-number {
    text-align: center;
    font-size: 35px;
    position: relative;
    color: white;
}

.shirt-name {
    text-align: center;
    letter-spacing: -1px;
    color: white;
    position: relative;
    top: 5px;
}

#forwards-pitch-position {
    position: relative;
    left: 40px;
    top: 20px;
}

#midfielders-pitch-position {
    position: relative;
    left: 35px;
    top: 50px;
}

#center-midfielder {
    position: absolute;
    left: 170px;
    top: 40px;
}

#left-midfielder {
    position: absolute;
    top: -10px;
    left: 50px;
}

#right-midfielder {
    position: absolute;
    left: 300px;
    top: -10px;
}

#left-back {
    position: absolute;
    left: 35px;
    top: 310px;
}

#left-center-back {
    position: absolute;
    top: 360px;
    left: 140px;
}

#right-center-back {
    position: absolute;
    top: 360px;
    left: 270px;
}

#right-back {
    position: absolute;
    top: 310px;
    left: 375px;
}

#goalkeeper {
    position: absolute;
    top: 445px;
    left: 205px;
}

.scaled {
    transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    /* IE 9 */
    -webkit-transform: scale(0.3, 0.3);
    /* Safari and Chrome */
    -o-transform: scale(0.3, 0.3);
    /* Opera */
    -moz-transform: scale(0.3, 0.3);
    /* Firefox */
}