body {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

#container {
    margin: 0 auto;
    max-width: 1350px;
}

#marketplace {
    text-align: center;
}

#players-container {
    text-align: center;
}

.player-card {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 5px;
    padding: 1px 15px;
    width: 150px;
    height: 240px;
    border-radius: 10px;
    /* gradient styles */
    background: #fceabb;
    background: -webkit-linear-gradient(to right, #f8b500, #fceabb);
    background: linear-gradient(to right, #f8b500, #fceabb);
    /* end gradient styles */
}

.player-buy-section {}

.player-card .headshot-img {
    display: block;
}

.pre-loader {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("./images/Preloader_1.gif") center no-repeat #fff;
}